@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    @if (Repository.IsAuthenticated)
    {
        <h1>Error</h1>
        <p>You cannot access the login page (log out first).</p>
    }
    else
    {
        <h1 class="display-4">Login Page</h1>
        <h2>Please enter your login and password</h2>
        <br>
        
        <form method="post">
            <input type="text" name="fullname" placeholder="Fullname" style="width: 200px;"> 
            <br>
            <input type="password" name="password" placeholder="Password" style="width: 200px;"> 
            <br>
            <input type="submit" name="login_btn" id="login_btn" value="Log In" style="width: 200px; margin-top: 5px;">
        </form>
    }
</div>
