.vs 
*/.vs 
.vscode 

bin 
obj

# Documentation 
Docs/ProcessDocs 
LICENSE

# Unfinished modules 
AuthenticationServiceGrpc
MessagingServiceGrpc

# Testing modules 

# Databases 
sqlite3.exe 
Client/Model/LocalDB 
Server/Database/ServerDB 
Test.Client/TestLocalDB

# Snippets 
Snippets
