@using WorkflowLib.Shared.Models.Business.InformationSystem
@using WorkflowLib.UnifiedBusinessPlatform.Core.Dal
@using WorkflowLib.UnifiedBusinessPlatform.Core.DbContexts
@using WorkflowLib.UnifiedBusinessPlatform.Core.Extensions

@model Organization

@inject EmployeesMvcDbContext _context

@{
    ViewData["Title"] = "Organization details";
}

@try
{
    string formName = "OrganizationalStructure/OrganizationDetails";
    string applicationUid = "d7b0eb60-190e-439d-89e1-c78594ac7f0c";

    var languageName = string.Empty;
    if (!Context.Request.Cookies.TryGetValue("employeesmvc-lang", out languageName))
    {
        languageName = "English";
    }
    
    Dictionary<string, string> translations = LanguageDal.GetLanguageKvpByFormName(
        _context,
        UbpEnumExtensions.GetLanguageTypeEnum(languageName),
        formName,
        applicationUid);

    ViewData["Title"] = translations["OrganizationDetails"];
    
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>

        <form>
            <fieldset disabled>
                <div class="form-group">
                    <label for="disabledTextInput">@translations["Name"]</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model?.Name">
                </div>
                <div class="form-group">
                    <label for="disabledTextInput">@translations["Description"]</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">@Model?.Description</textarea>
                </div>
            </fieldset>
        </form>
    </div>
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
