@page "/"
@page "/home"

@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<h1>Welcome to the TechSupport.Tools!</h1>

<MudText Typo="Typo.body1">Please, choose the application on left sidebar.</MudText>
