@using WorkflowLib.Examples.EmployeesMvc.Core.Models.Configurations
@inject AppSettings _appSettings
@{
    ViewData["Title"] = "Home Page";
}

@try
{
    var languageName = "English";

    ViewData["Title"] = _appSettings.Translate(languageName, "Page.Home");

    <div class="text-center">
        <h1 class="display-4">@_appSettings.Translate(languageName, "EmployeeManagementSystem")</h1>
        <p>@_appSettings.Translate(languageName, "EmployeeManagementSystem.Description")</p>
    </div>
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
