@{
    ViewData["Title"] = "Managing Page";
}

<div class="text-center">
    <h1 class="display-4">Managing</h1>
    
    <label>Managing vacations: </label>
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="NewVacation">Add new vacation</a>
</div>
